* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
/* css chung */
p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
.tit1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 10px;
}
.txt1 {
  font-family: Courgette;
  font-size: clamp(30px, 8vw, 90px);
  line-height: 1.1;
  color: white;
}
.tit2 {
  font-family: Courgette;
  font-size: 30px;
  line-height: 1.2;
  color: #d61c22;
}
.tit3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 6px;
}
.tit4 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 6px;
}
.txt4 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.txt5 {
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.txt7 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 50px;
  color: #ec1d25;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.txt8 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.tit6 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  letter-spacing: 6px;
  word-spacing: 6px;
}
.tit8 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 11px;
}
.txt12 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  color: #666666;
  line-height: 1.7;
  padding: 0 25px;
}
.txt13 {
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.txt14 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.7;
  list-style: none;
  padding: 6px 0;
}
.txt15 {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 13px;
  color: #ec1d25;
  line-height: 1.7;
}
.txt16 {
  margin-top: 15px;
  font-family: Montserrat !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  color: #555555 !important ;
}
.txt10 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.t-center {
  text-align: center;
}
/*  */
.container {
  max-width: 1200px !important;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header.scrolled {
  background-color: #fff;
}
.header {
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header .nav-link,
.header .fa {
  color: white;
  transition: color 0.3s ease;
}

.header.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header.scrolled .nav-link,
.header.scrolled .fa {
  color: black;
}
.wrap-menu-header {
  position: absolute;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 5px solid #ec1d25;
  background: transparent;
}
.wrap-header {
  display: flex;
  align-items: center;
  /* height: 120px; */
}
.header-menu .nav-item {
  padding: 0 20px;
}
.nav-link {
  text-transform: uppercase;
  color: #fff !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #d61c22 !important;
}
.social-right .nav-item {
  padding: 0 5px !important;
}
.header.scrolled .nav-link {
  color: black !important;
}

.header.scrolled .fa {
  color: black !important;
}
.logo-scrolled {
  display: none;
}

.header.scrolled .logo-default {
  display: none;
}

.header.scrolled .logo-scrolled {
  display: inline;
}
/* section-slide */
.carousel-control-next,
.carousel-control-prev {
  border-radius: 50%;
}
.carousel-control-prev {
  left: 20px !important;
}
.carousel-control-next {
  right: 20px !important;
}
.caption-slide {
  font-size: clamp(24px, 6vw, 70px);
  line-height: 1.1;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.carousel-control-next1,
.carousel-control-prev1 {
  top: 50% !important;
  width: 60px !important;
  height: 60px;
  background-color: rgb(11, 11, 11) !important;
}
.carousel-item_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-indicators [data-bs-target] {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target]:hover {
  background-color: #ec1d25;
  border-radius: 50%;
  /* border: 2px solid #fff; */
}
.wrap-content-slide {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 10;
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrap-content-slide .txt1 {
  font-size: clamp(14px, 3vw, 60px);
  display: block;
}

.wrap-content-slide .tit1 {
  font-size: clamp(24px, 5vw, 78px);
  margin: 10px 0;
}
.caption-slide {
  font-family: Courgette;
  font-size: clamp(24px, 6vw, 70px);
  line-height: 1.1;
  color: white;
}
.btn-danger {
  border: none !important;
  margin-top: 10px;
  width: 135px;
  height: 40px;
  background-color: #fff !important;
  color: #ec1d25 !important;
}
.btn-danger:hover {
  background-color: #ec1d25 !important;
  color: #fff !important;
}
/* section-welcome */
.section-welcome {
  padding: 125px 0;
}
.wrap-text-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-text-welcome .txt4 {
  margin-top: 10px;
  text-decoration: none;
}
.wrap-text-welcome .txt4:hover {
  color: #ec1d25;
}
.wrap-pic-welcome img {
  width: 390px !important;
  height: auto;
  border-radius: 10px;
}
.carousel-indicators {
  bottom: -15px !important;
}
/* section-intro */
.header-intro {
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp");
  background-position: center -253.267px;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 135px 0 158px 0;
}
.header-intro .tit2 {
  padding: 0 15px;
}
.content-intro {
  padding: 77px 0px 133px 0;
}
.content-intro .row {
  display: flex;
  flex-wrap: wrap;
}
.block img {
  width: 100%;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
}
.wrap-bloc {
  padding-top: 35px;
  text-align: start;
}
.wrap-bloc h4 {
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.wrap-bloc h4:hover {
  color: #d61c22;
}
.wrap-bloc p {
  padding-top: 10px;
}
.wrap-bloc .txt4 {
  margin-top: 10px;
  text-decoration: none;
}
.wrap-bloc .txt4:hover {
  color: #ec1d25;
}
/* section-ourmenu */
.section-ourmenu {
  background-image: url("https://preview.colorlib.com/theme/pato/images/icons/pattern2.png.webp");
  background-repeat: repeat;
  background-size: cover;
  padding: 115px 0 120px 0;
}
.title-menu .tit5 {
  margin-top: 8px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 10px;
  word-spacing: 8px;
}
.item-ourmenu {
  position: relative;
  overflow: hidden;
}
.item-ourmenu .ourmenu-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
  object-fit: cover;
}
.item-ourmenu .ourmenu-img:hover {
  transform: scale(1.03);
}
.item-ourmenu {
  position: relative;
}
.ourmenu-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ourmenu-btn button {
  width: 150px;
  height: 60px;
  border: none;
  background-color: #fff;
  color: #000;
  letter-spacing: 3px;
  font-weight: 500;
  opacity: 0.9;
}
.ourmenu-btn button:hover {
  background-color: #d61c22;
  color: #fff;
  transition: ease-in 0.3s;
}
.ourmenu-img12 {
  width: 95% !important;
  height: 231px !important;
  border-radius: 10px;
}
.ourmenu-right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.ourmenu-img4 {
  width: 370px !important;
  height: 231px !important;
  border-radius: 10px;
}
/* section-event */
.time-event {
  position: relative;
  background-image: url("https://preview.colorlib.com/theme/pato/images/event-02.jpg.webp");
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
}
.section-event .wrap-content-slide {
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.time-event .txt-effect {
  position: absolute;
  transform: translate(-50%, -50%) rotateZ(90deg);
  left: -22px;
  top: 50%;
  width: 68%;
  background-color: #ec1d25;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width: 768px) {
  .time-event .txt-effect {
    transform: none !important;
    left: 15px !important;
    top: 15px !important;
    rotate: 0deg !important;
    width: auto !important;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 10;
  }
}
.wrap-text-blo2 h4 {
  margin-top: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.wrap-text-time {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}
.wrap-size {
  display: flex;
  flex-direction: column;
  color: #ec1d25;
}
.wrap-text-link .txt4 {
  text-decoration: none;
}
.wrap-text-link .txt4:hover {
  color: #ec1d25;
}
.section-event .carousel-control-prev1 {
  left: 40px !important;
}
.section-event .carousel-control-next1 {
  right: 40px !important;
}
.section-event .carousel-control-next1:hover,
.section-event .carousel-control-prev1:hover {
  background-color: #f74148 !important;
}
/* section booking */
.section-booking {
  background-image: url("https://preview.colorlib.com/theme/pato/images/icons/pattern1.png.webp");
  background-repeat: repeat;
}
.form-control,
.form-select {
  padding: 12px !important;
  border-radius: 12px !important;
}

.form-label {
  font-weight: 500;
}
.text-center .btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 30px;
}
.text-center .btn:hover {
  background-color: #d61c22;
  color: #fff;
}
.wrap-pic-booking {
  max-width: 390px;
  margin: 0 auto;
}
.wrap-pic-booking img {
  margin-top: 10px;
  border-radius: 12px;
  width: 100%;
}
/* section-review */
.section-review {
  position: relative;
}
.section-review .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;
  left: 0;
  right: 0;
  padding: 0;
}
.section-review .carousel-item {
  min-height: 400px;
  position: relative;
}
.pic-review img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 4px solid #d61c22;
  object-fit: cover;
}
.content-review {
  margin-top: 30px;
}
.star-review i {
  color: #ec1d25;
}
.section-review .carousel-control-prev,
.section-review .carousel-control-next {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  opacity: 1;
  z-index: 10;
}
.section-review .carousel-control-prev:hover,
.section-review .carousel-control-next:hover {
  background-color: #d61c22;
}
.section-review .carousel-control-prev {
  left: 30px;
}

.section-review .carousel-control-next {
  right: 30px;
}
/* section-intro2 */
.header-intro2 {
  padding: 225px 0;
  background-image: url("https://preview.colorlib.com/theme/pato/images/bg-cover-video-02.jpg.webp") !important;
}

.header-intro_play {
  margin: 40px auto;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section-sigup */
.section-sigup {
  background-image: url("https://preview.colorlib.com/theme/pato/images/icons/pattern1.png.webp");
  background-repeat: repeat;
  padding: 85px 0;
}
.section-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 20px;
}
.section-form:has(input:focus) {
  border: 3px solid #ec1d25;
}
.section-form input {
  border: none;
}
.section-form input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.col-auto .btn {
  padding: 8px 50px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
}
.col-auto .btn:hover {
  background-color: #ec1d25;
}
/* footer */
.footer-content {
  color: #fff;
}
.footer-container {
  padding: 40px 0 70px 0;
}
.col-md-12 ul {
  padding-left: 0px !important;
  padding-top: 20px;
}
.txt14 i {
  margin-right: 12px;
}
.footer-center {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.footer-center span {
  font-size: 15px;
  color: #d61c22;
}
.footer-center span i {
  font-size: 10px;
  color: #fff;
  margin-right: 8px;
}
.footer-img {
  margin-top: 22px;
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-end {
  background-color: #000;
}
.footer-end_icon i {
  padding: 0 10px;
}
.footer-end_icon i:hover {
  color: #d61c22;
  transition: color ease-in 0.3s;
}
.txt17 {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.7;
  color: #999999;
}
.txt17 > strong {
  color: #fff;
}
.txt17 > strong:hover {
  color: #d61c22;
  transition: color ease-in 0.3s;
}
