.title {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: rgb(15, 33, 55);
  font-size: 26px;
}
.featureCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerCard {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  flex-wrap: wrap;
}
.itemCard {
  margin-top: 35px;
  width: calc(100% / 3);
  padding: 0 15px;
}
.itemCard h3,
.tag {
  margin-top: 10px;
}
.tag span {
  margin-right: 10px;
}
/* btn */
.cardBtn {
  margin-top: 10px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 204, 153);
  color: rgb(255, 250, 240);
  transition: 500ms;
  padding: 17px 26px;
  border-radius: 100px;
  font-weight: 700;
  border: none;
}
