.banner {
  background-color: #fff2d9;
  padding: 120px 0 70px 0;
}
.container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.banner_left,
.banner_right {
  flex: 1;
}
.banner_left-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 1.29;
  letter-spacing: -2px;
  color: rgb(8, 28, 39);
  margin-bottom: 15px;
}
.banner_left-text {
  font-size: 18px;
  font-family: "Work Sans";
  line-height: 2.11;
  letter-spacing: -0.3px;
  color: rgb(0, 51, 78);
  margin-bottom: 0px;
  opacity: 0.8;
}
.banner_form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 480px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.banner_form img {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  z-index: 10;
}
.banner_form input {
  width: 100%;
  max-width: 480px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: rgba(0, 51, 78, 0.4);
  padding-left: 60px;
  padding-right: 80px;
  transition: 500ms;
}
.banner_left-btn {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: 80px;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(8, 28, 39);
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 1;
  cursor: pointer;
  transition: opacity 500ms;
}
.banner_left-btn:hover {
  opacity: 0.8;
}
.banner_tag {
  font-size: 15px;
  margin-bottom: 0px;
  color: rgb(51, 89, 106);
  font-family: "DM Sans";
}
.banner_left-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 20px;
}
.banner_left-app {
  background-color: rgb(255, 242, 217);
  border: 1px solid rgb(8, 28, 39);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 14.5px 17px;
  color: rgb(8, 28, 39);
  transition: 500ms;
}
.banner_left-app:hover {
  background-color: rgb(8, 28, 39);
  color: rgb(255, 255, 255);
}

.banner_left-app img {
  flex-shrink: 0;
  filter: invert(0%);
  transition: 500ms;
}
.banner_left-content {
  margin-left: 17px;
}
.banner_left-content span {
  margin: 0px;
  display: block;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.2px;
  opacity: 0.8;
}
.banner_left-content p {
  margin: 5px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
}
.banner_right {
  position: relative;
}
.banner_right img {
  max-width: 100%;
}
