.container {
  display: flex;
  gap: 15px;
}
.left {
  flex: 1;
  background-color: chartreuse;
  height: 100vh;
}
.content {
  flex: 8;
  /* background-color: rgb(72, 73, 70); */
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 15px;
}
.content-center {
  display: flex;
  gap: 15px;
}
.right {
  flex: 1;
  height: 100vh;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
